body {
    background-image: url("file:///Users/hanmoon/Desktop/code/homework/hmwk3/psychic-game/assets/images/cool-background.png");
    background-size: 100%;
    text-align: center;
    font-family: 'Germania One', cursive;
    font-size: 24px;
}